*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
/* header section */
.header{
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),url('../images/donation13.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    

}
.head-dev{
    padding: 200px;
}
.head-h1{
    font-weight: 700;
    font-size: 85px;
    line-height: 79px;
    text-align: center;
    color: white;
}
.head-p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ffe9e9;
    margin: 20px;
    font-family: 'Poppins';
}
.btn-donate{
    padding-left: 500px;
    padding-top: 50px;
   
}
.donate-btn{
    background: #FF5959;
    color: #FFFFFF;
    text-align: center;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #FF5959;
    font-size: 22px;
    font-weight: 400;
}
.donate-btn:hover{
    background: #FFFFFF;
    color: #FF5959;
    border: 2px solid #FF5959;
}
/* donate-today section */
.donate-today{
    background: #FFFFFF;
}
.donate-friday{
    padding: 130px;
}
.h3-donate{
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;

}
.head-pp{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #707070;
    margin: 20px;
    font-family: 'Poppins';
}
/* amount-section start */
.amount-select{
    display: flex;
    margin: 100px;
    padding-left: 50px;
}
.amount{
    margin-left: 20px;
}
.amount h3 {
        padding: 40px 25px;
        width: 130px;
        height: 50px;
        background: #fafafa;
        margin: auto;
        color: #707070;
        text-align: center;
        font-size: 27px;
}

.amount h3:hover{
    border: 2px solid #FF5959;
    background-color: #FFFFFF;
    color: #FF5959;
}
.other-amount{
    padding: 50px 200px;
}
.other-amount h4{
    text-align: center;
    color: #707070;
    padding-bottom: 10px;
    font-size: 18px;
}
.btn-donate-other{
    padding-left: 550px;
}
.main-plan{
    display: flex;
    padding: 50px 150px;
}
.a1 ,.a2 ,.a3{
    padding: 30px ;
    height: 250px;
    width: 360px;
    margin-left: 50px;
}
.a1 {
    background: #4F9DA61A;
    
}
.a2 {
    background: #FF59591A;
}
.a3{
    background: #FFF4D6;
}
.h4-plan{
    padding-top: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
.p-plan{
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}
/* contribute section start */
.contribute{
    display: flex;
    margin-top: 40px;
}
.div-contribute{
    margin:70px 100px;
}
.h2-contribute{
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
}
.p-contribute{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}
.btn-{
    margin-top: 50px;
}
.donate-{
    padding: 25px 25px;
    border: 1px solid #FF5959;
    background: #FF5959;
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    
    border-radius: 5px;
}
.donate-:hover{
    background: #FFFFFF;
    color: #FF5959;
    border: 2px solid #FF5959;
}
.img-left{
    padding-right: 300px;
    border-radius: 10px;
   
}
.img-left img{
    height: 450px;
    width: 470px;
    padding-left: -300px;
    
}
.img-right{
    padding-left: 300px;
    border-radius: 10%;
}
.img-right img{
    height: 450px;
    width: 670px;
    padding-right: -100px;
}
.my-updates{
    margin-top: 100px;
}
.email-{
    
    margin: 10px 300px 100px 300px;
    background: #FFF4D6;
    height: 250px;
    width: 900px;
}
.subscribe{
    margin: 300px;
    padding-top: 120px;
    padding-right: 50px;
}
.input{
    top:30px;
    align-items: center;
    height: 30px;
    width: 250px;
    padding-right: 30px;
    background: #D9D9D9;
}
.last-btn{
    margin-top: 10px;
    margin-left: 100px;
}
.btn-l{
    padding: 5px;
    border: 1px solid #FF5959;
    background: #FF5959;
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 3px;
}

.btn-l:hover{
    background: #FFFFFF;
    color: #FF5959;
    border: 2px solid #FF5959;
}
.what{
    margin-top: -200px;
}
.footer{
    height: 200px;
    background: #0B0D17;
}
.last-div{
    padding: 50px;

}
.last-div h3{
    color: #FF5959;
    text-align: center;
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}
.last-div p{
    text-align: center;
    color: #fafafa;
}